<ion-header>
  <ion-toolbar>
    <ion-title class="app-title">Metric Converter</ion-title><BR>
    <p class="author">Eunike Rahel Poli</p>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-label for="metric">Pilih Metrik:</ion-label>
        <ion-select id="metric" [(ngModel)]="selectedMetric" (ionChange)="onMetricChange()" interface="popover">
          <ion-select-option value="Panjang">Panjang</ion-select-option>
          <ion-select-option value="Berat">Berat</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-label for="fromUnit">Dari:</ion-label>
        <ion-select id="fromUnit" [(ngModel)]="selectedSourceUnit" [disabled]="!selectedMetric" (ionChange)="onSourceUnitChange()" interface="popover">
          <ion-select-option *ngFor="let unit of sourceUnits" [value]="unit">{{ unit }}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-label for="toUnit">Ke:</ion-label>
        <ion-select id="toUnit" [(ngModel)]="selectedTargetUnit" [disabled]="!selectedMetric" (ionChange)="onTargetUnitChange()" interface="popover">
          <ion-select-option *ngFor="let unit of targetUnits" [value]="unit">{{ unit }}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-label position="floating">Masukkan Nilai</ion-label>
        <ion-input type="number" [(ngModel)]="inputValue" (ionChange)="convertValue()" ></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="result">
          <p>Hasil Konversi:</p>
          <p>{{ convertedValue }}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>